.logo {
  display: block;
  font-family: Raleway, sans-serif;
  margin-right: 93px;
  color: var(--accent-color);
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.accent {
  color: var(--primary-text-color);
}

.accent-studio {
  color: var(--white-color);
}
