.logo {
  display: block;
  font-family: Raleway, sans-serif;
  margin-right: 93px;
  color: var(--accent-color);
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;

  @media screen and (max-width: 767.98px) {
    text-align: left;
  }
}

.accent {
  color: var(--primary-text-color);
}

.accent-studio {
  color: var(--white-color);
}
