.mod-socials {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;

  @media screen and(min-width:768px) {
    display: none;
  }
}
.mod-socials__item {
  padding-right: 10px;
}

.mod-socials__item:not(:last-child) {
  margin-right: 10px;
  border-right: solid 1px rgba(33, 33, 33, 0.2);
}
.mod-socials__link {
  color: var(--accent-color);
}
