.dark-bg {
  background: var(--dark-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.dark-bg .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;

  @media screen and(max-width:767px) {
    flex-wrap: wrap;
    display: block;
  }

  @media screen and(min-width:768px) and(max-width:1199px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
