.header__container {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and(min-width:1200px) {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

header {
  position: relative;
  border-bottom: 1px solid var(--border-header);
}
